* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border-width: thin;
}

body {
  background-color: #121212;
  overflow-x: hidden;
}

.title {
  margin: 2%;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 3px;
  color: rgb(255, 255, 0);
}

.table-container {
  width: 90%;
  height: 100%;
  max-height: 80vh;
  margin: 2.5% auto;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: rgb(255, 255, 0);
  border-collapse: collapse;
  table-layout: fixed;
  align-items: center;
}

.table-header th {
  color: rgb(255, 255, 0);
  min-width: 10vw;
  max-width: 15vw;
  overflow: hidden;
  height: 5vh;
  border-style: solid;
}

.table-body tr {
  color: white;
  height: 8vh;
  border-style: solid;
}

.table-body tr td {
  padding: 1%;
}

div.scrollable {
  height: 100%;
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .table-header {
    font-size: 0.8em;
  }

  .table-body tr {
    font-size: 0.6em;
    height: 5vh;
  }
}
