* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #14121e;
}

.navbar {
  padding: 3px;
  display: flex;
  background-color: rgb(169, 230, 49);
  height: 6vh;
  width: 100vw;
  justify-content: center;
  align-content: space-around;
  /* text-align: center;
  flex */
}

.navbar a {
  width: 10vw;
  text-align: center;
  align-self: center;
  padding: 2.5px;
  margin: 0 25px;
  border-style: solid;
  border-color: #14121e;
  font-weight: bolder;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #14121e;
  color: rgb(169, 230, 49);
  box-shadow: 3px 5px #413a66;
}

.container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  margin: 5% 0;
  align-content: flex-end;
  align-items: center;
}

.subdivision {
  margin: 0 5%;
  width: 40%;
}

.content {
  height: 50vh;
  background-color: white;
}

.formContainer {
  height: 65vh;
  background-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 5vh;
  width: 100%;
  background-color: #413a66;
  color: white;
}
