<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis materias</title>
    <!-- temp styles -->
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/table.css" />
    <link rel="stylesheet" href="../static/css/subject.css" />

    <!-- th styles  -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
    <link rel="stylesheet" th:href="@{/css/subject.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/navBarScript.js}"></script>
  </head>
  <body>
    <div th:insert="navBar :: menu"></div>

    <h1 class="title">Mis Materias:</h1>
    <table class="table-container">
      <thead class="table-header">
        <th id="name">NOMBRE</th>
        <th id="desc" colspan="2">DESCRIPCION</th>
        <th id="prof">PROFESOR</th>
        <th id="time">INICIO</th>
        <th id="time">FINAL</th>
        <th id="action">ACCION</th>
      </thead>
      <tbody class="table-body">
        
        <tr th:each="subject : ${subjectList}">
          <span
            th:each="all : ${allSubjects}"
            th:if="${all.subjectId == subject.subjectId}"
            th:asub="${all.subjectId}"
            th:studsub=${subject.subjectId}
          >
            <td id="name">
              <div class="scrollable" th:text="${subject.name}"></div>
            </td>
            <td id="desc" colspan="2">
              <div class="scrollable" th:text="${subject.description}"></div>
            </td>
            <td id="prof">
              <div
                class="scrollable"
                th:each="prof : ${professors}"
                th:if="${subject.professor_id == prof.professorId}"
                th:text="${prof.firstName + ' ' + prof.lastName}"
              ></div>
            </td>
            <td id="start_time">
              <div class="scrollable" th:text="${subject.start_time}"></div>
            </td>
            <td id="end_time">
              <div class="scrollable" th:text="${subject.end_time}"></div>
            </td>
            <td>
              <a th:href="@{'/Student/subject/unsuscribe/' + ${subject.subjectId}}">
                <button>DESINSCRIBIRSE</button>
              </a>
            </td>
            </td>
          </span>
        </tr>
      </tbody>
    </table>
  </body>
</html>
