<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale = 1.0, 
      maximum-scale=1.0, user-scalable=no"
    />
    <title>Nuevo Profesor</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" th:href="@{/css/addprofessor.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/navBarScript.js}"></script>
  </head>

  <body>
    <div th:insert="navbar :: menu"></div>
    <h1 class="title">Añadir nuevo profesor</h1>
    <form
      th:action="@{/Admin/professorCreated}"
      class="form-container"
      method="POST"
      th:object="${prof}"
    >
      <h2>Profesor/a</h2>
      <div class="form-group">
        <label for="firstName">Nombre:</label>
        <br />
        <input type="text" name="firstName" required />
        <p
          class="log-info"
          th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
        ></p>
      </div>

      <div class="form-group">
        <label for="lastName">Apellido:</label>
        <br />
        <input type="text" name="lastName" required />
        <p
          class="log-info"
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
        ></p>
      </div>

      <div class="form-group">
        <label for="document">DNI:</label>
        <br />
        <input type="text" name="document" required />
        <p
          class="log-info"
          th:if="${#fields.hasErrors('document')}"
          th:errors="*{document}"
        ></p>
      </div>

      <div class="form-group">
        <label for="isActive">
          <select name="isActive">
            <option value="1">Activo</option>
            <option value="0" selected>Inactivo</option>
          </select>
        </label>
      </div>

      <button>Ingresar</button>
      <br /><br />
      <div class="log-info" th:if="${param.error}" th:text="${param.msg}"></div>
    </form>
  </body>
</html>
