<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar materia</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" th:href="@{/css/addSubject.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/navBarScript.js}"></script>
  </head>

  <body>
    <div th:insert="navbar :: menu"></div>
    <h1 class="title">Modificar Materia</h1>

    <form
      th:action="@{'/Admin/subjectEdited/'+${currentSubject.subjectId}}"
      class="form-container"
      method="POST"
      th:object="${subj}"
    >
      <h2>Materia</h2>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <br />
        <input
          type="text"
          name="name"
          required
          th:value="${currentSubject.name}"
        />
      </div>

      <div class="form-group">
        <label for="description">Descripcion:</label>
        <br />
        <input
          type="text"
          name="description"
          required
          th:value="${currentSubject.description}"
        />
      </div>

      <div class="form-group time-container">
        <label for="start_time">Comienzo:</label>
        <input
          type="time"
          name="start_time"
          required
          th:value="${currentSubject.start_time}"
        />

        <label for="end_time">Finalizacion:</label>
        <input
          type="time"
          name="end_time"
          required
          th:value="${currentSubject.end_time}"
        />
      </div>

      <div class="form-group">
        <label for="professor_id">Profesor:</label>
        <br />
        <select name="professor_id" id="prof">
          <option
            th:each="professor : ${professors}"
            th:value="${professor.professorId}"
            th:if="${professor.isActive}"
            th:selected="${professor.professorId == currentSubject.professor_id}"
            th:text="${professor.firstName + ' ' + professor.lastName}"
          ></option>
        </select>
      </div>

      <div class="form-group">
        <label for="capacity">Cupo maximo:</label>
        <input
          type="text"
          name="capacity"
          id="availability"
          required
          th:value="${currentSubject.capacity}"
        />
      </div>

      <button>Ingresar</button>
    </form>
  </body>
</html>
